.result {
    margin-left: 20px;
    margin-right: 20px;
}
.divider {
height: 2px;
width: 380px;
background-color: #e7e7e7;
}
.result em {
    text-transform: capitalize;
    font-weight: bold;
}

.result h1 {
    font-size: 22px;
    font-weight: normal;
}